*.mod
.DS_Store
*.000*
nautilus
extract_ab
filename
*.log
*.o
nlso_tail.d
*.tmp
*.out
nautilus_original/nautilus
git_infos.f90
profiling/
nautilus_outputs
*.ab
nautilus_rates
archive/
unitary_tests
tests/
old_simulation/
DOC/nautilus.bib.bak
DOC/nautilus_documentation.aux
DOC/nautilus_documentation.bbl
DOC/nautilus_documentation.blg
DOC/nautilus_documentation.idx
DOC/nautilus_documentation.ilg
DOC/nautilus_documentation.ind
DOC/nautilus_documentation.synctex.gz
DOC/nautilus_documentation.tex.bak
DOC/nautilus_documentation.toc
nautilus_major_reactions
